.inzendingen_content {
    background-color: var(--darkblue);
    color: var(--yellow);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: var(--lightblue);
    border-width: 2px;
    font-size: 0.9em;
}

@media screen and (max-width: 640px) {
    .inzendingen_tabel {
        font-size: 0.8em !important;
    }

    .inzendingen_datum_lang {
        display: none;
    }

    .inzendingen_datum_kort {
        display: inline-block;
    }

    .inzending_medium {
        display:none;
    }

    .inzending_medium_span {
        display: inline;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .inzendingen_tabel {
        font-size: 0.8em !important;
    }

    .inzendingen_datum_lang {
        display: inline-block;
    }

    .inzendingen_datum_kort {
        display: none;
    }

    .inzending_medium {
        display:table-cell;
    }

    .inzending_medium_span {
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .inzendingen_tabel {
        font-size: 0.9em !important;
    }

    .inzendingen_datum_lang {
        display: none;
    }

    .inzendingen_datum_kort {
        display: inline-block;
    }

    .inzending_medium {
        display:table-cell;
    }

    .inzending_medium_span {
        display: none;
    }
}

@media screen and (min-width: 1281px) {
    .inzendingen_datum_lang {
        display: inline-block;
    }

    .inzendingen_datum_kort {
        display: none;
    }
}

.inzendingen_tabel {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid var(--orange);
}

.inzendingen_tabel > thead {
    font-size: 0.8em;
    font-style: italic;
}


.inzendingen_tabel > tbody {
    font-size: 1em;
}

.inzendingen_tabel > tbody tr {
    animation: fadeIn linear 1s;
}

/*.scoretabel > tbody tr:hover {*/
/*    color: var(--orange)*/
/*}*/

.inzendingen_tabel > tbody td:nth-child(odd) {
}

.inzendingen_tabel td {
    text-align: center;
}

.inzendingen_details {
    background-color: var(--darkerblue);
}

.inzending-eerste-row {
    border-top: 1px dotted var(--yellow);
}

.inzendingen_provider {
    color: var(--orange);
}

.inzendingen_doorklikker {
    cursor: pointer;
}

.inzendingen_tabel tbody>tr:hover {
    background-color: var(--darkerblue);
}
