.container {
    background-color: var(--lightblue);
}

.admin_content {
    color: var(--yellow);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-width: 0;
    text-align: center;
    max-width: 95vw;
}

a:link {
    color: var(--orange);
}

a:visited {
    color: var(--orange);
}

a:hover {
    background-color: var(--orange);
    color: var(--darkblue);
}

a:active {
    color: var(--yellow);
    background-color: transparent;
}

/*body {*/
/*    margin: 0;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    min-width: 95vw;*/
/*    min-height: 100vh;*/
/*    background-color: var(--lightblue);*/
/*    overflow-x: hidden;*/
/*}*/

table {
    font-size: 0.8em;
}

button, input, select {
    color: var(--yellow);
    font-size: 1em;
    border: 1px solid var(--blue);
    box-shadow: 1px 1px black;
    margin: 2px;
    background-color: var(--darkerblue);
    font-weight: bold;
}

input:disabled, button:disabled {
    background-color: var(--darkblue);
    cursor: auto;
}

.button_groot {
    font-size: 2em !important;
}

.admin_tabel {
    background-color: var(--blue);
    width: 100%;
    font-weight: bold;
}

.admin_tabel tbody tr:nth-child(odd) {
    background-color: var(--darkerblue);
}

@media screen and (max-width: 800px) {
    .admin_inzendingen_datum_lang {
        display: none;
    }

    .admin_inzendingen_datum_kort {
        display: table-cell;
    }
}

@media screen and (min-width: 801px) {
    .admin_inzendingen_datum_kort {
        display: none;
    }

    .admin_inzendingen_datum_lang {
        display: table-cell;
    }
}

.admin_cycle_tabel td {
    padding: 2px;
    text-align: center;
}

.admin_cycle_tabel td:first-child {
    width: 50%;
}

.admin_cycle_tabel i {
    color: greenyellow;
}

.admin_rondetabel thead td:is(:nth-child(1),:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5))  {
    width: 1em;
}

.admin_rondetabel_huidigeronde {
    border: red 2px solid;
}

.admin_rondetabel_edit {
    background-color: var(--darkblue) !important;
}

.admin_rondetabel td{
    border-left: 1px var(--darkerblue) solid;
    padding: 2px;
    text-align: center;
}

.clip {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index:10;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
}
