.meta {
    text-align: center;
    display: grid;
    column-gap: 10px;
    background-color: var(--darkblue);
    color: var(--yellow);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-style: outset;
    border-color: var(--lightblue);
    border-width: 2px;
}

.meta_grid_container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
}

.meta_griditem_links {
    text-align: center;
    grid-column: 1/2;
    font-size: 3em;
}

.meta_griditem_rechts {
    text-align: left;
    grid-column: 2/3;
}

.meta_griditem_divider {
    grid-column: span 2;
    border-bottom: 1px solid var(--orange);
    height: 1px;
}

.meta_griditem_breed {
    grid-column: span 2;
}

.blauw {
    color: var(--lightblue);
}
